# From GitHub's .gitignore template collection

*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs

develop-eggs

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
htmlcov

.DS_Store
