FormEncode==1.2.4
Mako==0.6.2
MarkupSafe==0.15
Paste==1.7.5.1
PasteDeploy==1.5.0
PasteScript==1.7.5
Pygments==1.4
Tempita==0.5.1
WebCore==1.1.0
WebError==0.10.3
WebOb==1.2b3
WebTest==1.3.3
marrow.templating==1.0.0
marrow.util==1.2.2
py==1.4.7
pytest==2.2.3
simplegeneric==0.8
unittest2
